@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

::selection {
  background-color: rgba(203, 31, 58, 0.4); /* Kolor tła zaznaczenia */
  color: inherit; /* Zachowuje domyślny kolor tekstu */
}

/* Sponsors scroll */
/* Ukryj pasek przewijania w przeglądarkach opartych na WebKit (np. Safari, nowsze wersje Chrome) */
.animation-container::-webkit-scrollbar {
  display: none;
}

/* Ukryj pasek przewijania w Firefox */
.animation-container {
  scrollbar-width: none;
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.infinite-slider {
  animation: slide 10s linear infinite;
}
.animation-container:hover .infinite-slider {
  animation-play-state: paused;
}


@media (max-width: 1620px) {
  .social-responsive {
    display: none;
  }
}

@media (max-width: 1410px) {
  .nav-responsive {
    display: none;
  }
  .social-responsive {
    display: flex;
  }
  .userMenu-responsive {
    display: flex;
  }
}