@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  --container-width: 75rem;
}

::selection {
  background-color: rgba(203, 31, 58, 0.4); /* Kolor tła zaznaczenia */
  color: inherit; /* Zachowuje domyślny kolor tekstu */
}

/* Sponsors scroll */
/* Ukryj pasek przewijania w przeglądarkach opartych na WebKit (np. Safari, nowsze wersje Chrome) */
.animation-container::-webkit-scrollbar {
  display: none;
}

/* Ukryj pasek przewijania w Firefox */
.animation-container {
  scrollbar-width: none;
}

/* Animacja dla wchodzącego elementu */
.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0);
  transition: transform 500ms ease-in-out;
}

/* Animacja dla wychodzącego elementu */
.slide-exit {
  transform: translateX(0);
}

.slide-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}

.transition-fill {
  transition: fill 0.3s ease-in-out;
}

@media (max-width: 1620px) {
  .social-responsive {
    display: none;
  }
}

@media (max-width: 1410px) {
  .nav-responsive {
    display: none;
  }
  .social-responsive {
    display: flex;
  }
  .userMenu-responsive {
    display: flex;
  }
}
